{%extends 'base_user.html'%}

{%block header%}
<script>
    $(function () {
        $('.order_goods_list').each(function (i, n) {
            var $count = parseInt($(this).children('.col03').text());
            var $price = parseFloat($(this).children('.col02').find('span').text());
            $(this).children('.col04').text(($count*$price).toFixed(2))
        })
    })
</script>
{%endblock header%}

{%block body%}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/">· 个人信息</a></li>
				<li><a href="/user/order" class="active">· 全部订单</a></li>
				<li><a href="/user/site">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>

            {%for i in order_list%}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{i.o_date}}</li>
					<li class="col02">订单号：{{i.order_id}}</li>
					<li class="col02 stress">{%if i.o_status == 1%}已支付{%else%}未支付{%endif%}</li>
				</ul>
				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {%for j in i.orderdetail_set.all%}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/{{j.o_goods.g_pic}}"></li>
									<li class="col02" title="{{j.o_goods.g_name}}">{{j.o_goods.g_name|truncatechars:15}}
                                        <em><span>{{j.o_price}}</span>元/{{j.o_goods.g_unit}}</em></li>
									<li class="col03">{{j.o_count}}</li>
									<li class="col04">0元</li>
								</ul>
                                {%endfor%}
							</td>
							<td width="15%">{{i.o_total}}元</td>
                            {%if i.o_status == 1%}
                                <td width="15%">已付款</td>
                                <td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
                            {%else%}
                                <td width="15%">未付款</td>
                                <td width="15%"><a href="#" class="oper_btn">去付款</a></td>
                            {%endif%}
						</tr>
					</tbody>
				</table>
            {%endfor%}

				<div class="pagenation">
                    {%if order_list.has_previous%}
                        <a href="?p_index=1">首页</a>
                        <a href="?p_index={{order_list.number|add:-1}}">上一页</a>
                    {%endif%}
                    {%for i in all_page_list%}
                        {%if p_index == order_list.number%}
                            <a href="#javascript" class="active">{{i}}</a>
                        {%endif%}
                            <a href="?p_index={{i}}">{{i}}</a>
                    {%endfor%}
                    {%if order_list.has_next%}
                        <a href="?p_index">下一页></a>
                        <a href="?p_index={{order_list.paginator.num_pages}}">末页></a>
                    {%endif%}
				</div>
		</div>
	</div>
{%endblock body%}
